/*-------------------------------------------------- PAGE ACCUEIL --------------------------------------------------*/
#accueil { /* Titre de la page d'accueil */
	font-family : Copperplate gothic ;  /* Ceci est la police du texte "Bienvenue". */
	font-size : 4.5rem ;  /* Taille du texte. */
	font-weight : bold ;  /* Le texte est en gras. */
	text-align : center ;  /* Cela permet de mettre le titre au centre. */
	font-weight : bold ;  /* Le texte est en gras. */
	color : rgb(0, 0, 0) ;  /* Le texte est de couleur blanche. */
	margin-top : 2% ;  /* Le texte se trouve à 5% du haut de l'écran. */
	margin-left : 4% ;  /* Le texte se trouve à 35% du bord de l'écran. */
	top : 0 ;  /*  */
	position : absolute ;  /* Pas trop compris mais c'est utile. */
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
}
#accueil:hover {
	color : #956ca0 ; /* Changement de couleur du texte. */
	cursor : pointer ;
}

.partieHaute { /* Partie haute de la page avec le cercle et la case */
	width : 100% ; /* Largeur de la partie haute de la page. */
	height : 100% ; /* LHauteur de la partie haute de la page. */
	top : 0 ;  /*  */
	position : absolute ; /*  */
}

#cercle { /* Cercle avec mon nom dedans */
	/* La forme : */
	background-color : #c29bd8 ; /* Ceci est la couleur du fond du cercle. */
	border-radius : 50% ;  /* Les bordures de la formes sont arrondies à 50%. */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la case */
	width: 27% ;  /* La largeur du cercle est de 30%. */
	height: 45% ;  /* La taille du cercle est de 60%. */
	top : 0 ;  /*  */
	margin-top : 11% ;  /* Le cercle se trouve à 13% du haut de l'écran. */
	margin-left : 10% ;  /* Le cercle se trouve à 17% de la bordure gauche de l'écran. */
	float : left ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 2.5rem ;  /* Taille du texte. */
	color : rgb(255, 255, 255) ;  /* Le texte est de couleur blanche. */
	padding-top : 8% ; /*  */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	text-align : center ;  /* Cela permet de mettre le titre au centre. */
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
}
#cercle:hover { /* Quand la souris se trouve sur le cercle, les couleurs changent. */
	background-color : #000000 ; /* Couleur du fond du cercle. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
	cursor : pointer ;
}


#cadreIntro { /* Cadre d'introduction à droite du cercle */
	/* La forme : */
	background-color : #5a366f ; /* Ceci est la couleur du fond du cercle. */
	border : 1% ; /* Bordure du cadre. */
	border-radius : 40px ;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la case */
	width: 35% ;  /* La largeur du cercle est de 30%. */
	height: 60% ;  /* La taille du cercle est de 60%. */
	top : 0 ;  /*  */
	margin-top : 7% ;  /* Le cercle se trouve à 13% du haut de l'écran. */
	margin-left : 52% ;  /* Le cercle se trouve à 17% de la bordure gauche de l'écran. */
	/* Le texte : */
	text-align : justify ;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.7rem ;  /* Taille du texte. */
	color : #ffffff ;  /* Le texte est de couleur blanche. */
	padding-top : 3% ; /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 2% ;  /* Espace du bas entre le bord et le contenu. */
}
#cadreIntro:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}

a {
	display : block;
	width : 100% ;  /* La largeur. */
}
  
.flecheBasPage {
	margin-top : 43% ;
	margin-left : 95% ;
}
.flecheHautPage {
	margin-top : 4% ;
	margin-left : 95% ;
}

.titreAccueil { /* Le titre dans la page d'accueil qui dit "Parcourir" */
	font-family : Copperplate gothic ;  /* Ceci est la police du texte. */
	font-size : 3.7rem ;  /* Taille du texte. */
	font-weight : bold ;  /* Le texte est en gras. */
	color : rgb(0, 0, 0) ;  /* Le texte est de couleur blanche. */
	top : 0 ;
	margin-top : 47% ;
	margin-bottom : 2% ;
	margin-left : 4% ;  /* Le texte se trouve à 35% du bord de l'écran. */
	position : absolute ;  /* Pas trop compris mais c'est utile. */
	text-align : left ;  /* Cela permet de mettre le titre à gauche. */
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
}
.partieBasseAccueil { /* Partie basse de la page d'accueil avec les quatre cases et les boutons */
	width : 100% ; /* Largeur de la partie haute de la page. */
	height : 83% ; /*La hauteur.*/
	top : 0 ;
	margin-top : 52% ;
}
.partieBasse {
	width : 100% ; /* Largeur de la partie haute de la page. */
	height : 83% ; /*La hauteur.*/
	top : 0 ;
	margin-top : 4% ;

}
.accueilCadreGaucheHaut { /* Cadre de gauche en haut */
	width : 27% ;  /* La largeur. */
	height : 26% ;  /*La hauteur.*/
	margin-top : 2% ;
	margin-bottom : 2% ;
	margin-left : 2% ;
	background-color : #804b79 ; /* Couleur du fond du cercle. */
	color : #ffffff ; 
	cursor : pointer ;
	float : left ;
	position : absolute ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.9rem ;  /* Taille du texte. */
	padding-top : 4% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom: 2% ;
	align-items: center;
	text-align : center ;  /* Cela permet de mettre le titre au centre. */
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la case */
	border-radius : 40px;
}
.accueilCadreGaucheHaut:hover { 
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}

.accueilCadreGaucheBas { /* Cadre de gauche en bas */
	width : 27% ;  /* La largeur. */
	height : 26% ;  /*La hauteur.*/
	margin-top : 21% ;
	margin-bottom : 2% ;
	margin-left : 2% ; 
	background-color : #ad7aa7 ; /* Couleur du fond du cercle. */
	color : #ffffff ; 
	cursor : pointer ;
	float : left ;
	position : absolute ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.9rem ;  /* Taille du texte. */
	padding-top : 4% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom: 2% ;
	align-items: center;
	text-align : center ;  /* Cela permet de mettre le titre au centre. */
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la case */
	border-radius : 40px;
}
.accueilCadreGaucheBas:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}

.accueilCadreDroitBasPage { /* Cadre de droite en bas */
	width : 27% ;  /* La largeur. */
	height : 75% ;  /*La hauteur.*/
	margin-top : 2% ;
	margin-bottom : 2% ;
	margin-right : 2% ;
	background-color : #744a75 ; /* Couleur du fond du cercle. */
	color : #ffffff ; 
	float : right ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.9rem ;  /* Taille du texte. */
	padding-top : 7.5% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	text-align : center ;  /* Cela permet de mettre le titre au centre. */
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la case */
	border-radius: 40px;
}
.accueilCadreDroitBasPage:hover,
#lienBoutton {
		background-color : #000000 ; /* Couleur du fond du cercle. */
		color : white ; /* Couleur du texte. */
		border : solid 2px ;
		border-color: #ffffff ;
}
.boitemenu { /* Le groupe des trois boutons en gros */
	width : 30% ;  /* La largeur. */
	margin-top : 14% ;
	margin-left : 34.4% ;
	position : absolute ;  /* Pas trop compris mais c'est utile. */
}
.boutonHaut { /* Bouton Mes Projets */
	width : 87% ;  /* La largeur. */
	height : 9% ; /*La hauteur.*/
	border-radius : 30px ;
	background-color : #56335c ;
	margin : auto ;
	color : #ffffff ; 
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.4rem ;  /* Taille du texte. */
	text-align : center ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 1% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 1% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 2% ; /* Espace du bas entre le bord et le contenu. */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la case */
}
.boutonHaut:hover {
	background-color : #000000 ; /* Couleur du fond du cercle. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
	cursor : pointer ;
}
.boutonCentre { /* Bouton Projets de formation */
	width : 87% ;  /* La largeur. */
	height : 9% ; /*La hauteur.*/
	border-radius : 30px ;
	background-color : #56335c ;
	margin : auto ;
	margin-top : 3.5% ;
	color : #ffffff ; 
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.4rem ;  /* Taille du texte. */
	text-align : center ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 1% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 1% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 2% ; /* Espace du bas entre le bord et le contenu. */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la case */
}
.boutonCentre:hover {
	background-color : #000000 ; /* Couleur du fond du cercle. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
	cursor : pointer ;
}
.boutonBas { /* Bouton Veille Technologique */
	width : 87% ;  /* La largeur. */
	height : 9% ; /*La hauteur.*/
	border-radius : 30px ;
	background-color : #56335c ;
	margin : auto ;
	margin-top : 3.5% ;
	color : #ffffff ; 
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.4rem ;  /* Taille du texte. */
	text-align : center ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 1% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 1% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 2% ; /* Espace du bas entre le bord et le contenu. */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la case */
}
.boutonBas:hover {
	background-color : #000000 ; /* Couleur du fond du cercle. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
	cursor : pointer ;
}
/*-------------------------------------------------- CONTENU COMMUN AUX PAGES --------------------------------------*/
/*-------------------------------------------------- LE MENU */
.menuDeroulant { /* Un menu qui rassemble toutes les catégories. */
	text-transform : uppercase ; /* Les lettres sont toutes en majuscules. */
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
	color : rgb(0, 0, 0) ;
	font-weight : bold ;
	font-family: Lato, sans-serif ;
	font-size: 1.1rem;
	display : block ; /* Le texte est affiché sur une même ligne. */
	cursor : pointer ; /* Le pointeur de la souris change. */
	pointer-events : none ; /* Il ne se passe rien lorsque la souris n'est pas sur le menu. */
	position : absolute ;
	top : 0 ;
	right : 4px ;
	margin-top : 1% ;
}
.menuDeroulant:hover {
	pointer-events : all ; /* Quand la souris est sur le menu, les articles sont déroulés. */
}
.liste {
	display : block ; 
	cursor : pointer ;
	pointer-events : all ;
}
.espace {
	display : block ; /* L'espace est affiché sur une même ligne. */
	width : 40px ;  /* La largeur. */
	margin-left : 15px ;
	margin-right : 15px ;
	cursor : pointer ;
	position : relative ;
}
.espace:before {
	position : absolute ;
	width : 0% ;
	transition : width 0.25s ease ; /* L'espace se déroule en 0.25s. */
	transition-delay : 0.7s ;
}
.categories {
	position : relative ;
	display : block ;
	line-height : 2.5 ;
	margin-right : 30px ;
	top : 10px ; /* Il y a un écart de 10 pixels entre le haut de l'écran et les categories. */
	opacity : 0 ;
	transition : opacity 0.5s ease, top 0.5s ease ;
	transition-delay : 0 ;
}
span {
	transition : color 0.5s ease ; /* La couleur change en 0.5s. */
}
.categories:hover span { /* Quand l'utilisateur survole l'un des articles, la couleur du texte change. */
	color : #000000 ;
}
.menuDeroulant:hover .espace:before {
	width : 100% ;  /* La largeur. */
	transition-delay : 0s ;
}
.menuDeroulant:hover .categories { /* Quand la souris est sur les catégories, elles deviennent opaque.*/
	opacity : 1 ;
	top : 0px ; /* Les noms des articles montent en haut de l'écran lorsque la souris survole le menuDeroulant. */
}
.categories:nth-child(1) {
	transition-delay : 0.45s ;
}
.categories:nth-child(2) {
	transition-delay : 0.4s ;
}
.categories:nth-child(3) {
	transition-delay : 0.35s ;
}
.categories:nth-child(4) {
	transition-delay : 0.3s ;
}
.categories:nth-child(5) {
	transition-delay : 0.25s ;
}
.categories:nth-child(6) {
	transition-delay : 0.2s ;
}
.categories:nth-child(7) {
	transition-delay : 0.15s ;
}
.categories:nth-child(8) {
	transition-delay : 0.1s ;
}
.categories:nth-child(9) {
	transition-delay : 0.05s ;
}
.categories:nth-child(10) {
	transition-delay : 0s ;
}
/* Temps que les articles mettent pour apparaitre petit à petit quand le curseur est sur le menuDeroulant. */
.menuDeroulant:hover .categories:nth-child(1) {
	transition-delay: 0.25s ;
}
.menuDeroulant:hover .categories:nth-child(2) {
	transition-delay : 0.3s ;
}
.menuDeroulant:hover .categories:nth-child(3) {
	transition-delay : 0.35s ;
}
.menuDeroulant:hover .categories:nth-child(4) {
	transition-delay : 0.4s ;
}
.menuDeroulant:hover .categories:nth-child(5) {
	transition-delay : 0.45s ;
}
.menuDeroulant:hover .categories:nth-child(6) {
	transition-delay : 0.5s ;
}
.menuDeroulant:hover .categories:nth-child(7) {
	transition-delay : 0.55s ;
}
.menuDeroulant:hover .categories:nth-child(8) {
	transition-delay : 0.6s ;
}
.menuDeroulant:hover .categories:nth-child(9) {
	transition-delay : 0.65s ;
}
.menuDeroulant:hover .categories:nth-child(10) {
	transition-delay : 0.7s ;
}
/*-------------------------------------------------- LES LIENS */
#lienBoutton {
	text-decoration : none ;
	font-size : 1.5rem ;
	width : 55% ;  /* La largeur.*/
	height : 9% ; /*La hauteur.*/
	margin : auto ;
	background-color : #0000006a ;
	border-radius : 30px ;
	padding-top : 1% ;  /* Espace du haut entre le bord et le contenu. */
}
/*-------------------------------------------------- LES TITRES */
#lesTitresPages {
	font-family : Copperplate gothic ;  /* Ceci est la police du texte "Bienvenue". */
	font-size : 3.5rem ;  /* Taille du texte. */
	font-weight : bold ;  /* Le texte est en gras. */
	color : rgb(0, 0, 0) ;  /* Le texte est de couleur blanche. */
	top : 0 ;  /*  */
	margin-top : 2% ;  /* Le texte se trouve à 2% du haut de l'écran. */
	margin-left : 25px ;  /* Le texte se trouve à 4% du bord de l'écran. */
	position : absolute ;  /* Pas trop compris mais c'est utile. */
	text-align : left ;  /* Cela permet de mettre le texte au centre. */
}
.titre { 
	font-family : Copperplate gothic ;  /* Ceci est la police du texte "Bienvenue". */
	font-size : 3.5rem ;  /* Taille du texte. */
	font-weight : bold ;  /* Le texte est en gras. */
	color : rgb(0, 0, 0) ;  /* Le texte est de couleur blanche. */
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre du texte */
	margin-top : 5.5% ;
	margin-bottom : 2% ;
	margin-left : 7% ;  /* Le texte se trouve à 35% du bord de l'écran. */
	position : absolute ;  /* Pas trop compris mais c'est utile. */
	text-align : left ;  /* Cela permet de mettre le titre à gauche. */
}
/*-------------------------------------------------- STRUCTURE DES PAGES */
.contenuPage {
	width : 100% ; /* Largeur de la partie haute de la page. */
	height : 95% ; /*La hauteur.*/
	margin-top : 2% ;  /* Le texte se trouve à 2% du haut de l'écran. */
	
}
.texteContenuPage {
	/* Le texte : */
	color : rgb(0, 0, 0) ;  /* Le texte est de couleur blanche. */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.7rem ;  /* Taille du texte. */
	margin-left : 1% ;
	padding-top : 1% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	margin-top : 8% ;  /* Le texte se trouve à 2% du haut de l'écran. */
	text-align : justify ;
}
.cadreHaut {
	width : 80% ;
	height : 15% ; /*La hauteur.*/
	margin-top : 5.5% ;
	padding-top : 1% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
	border-radius : 25px ;
}
.cadreGauche {
	width : 37% ;  /* La largeur. */
	height : 80% ; /*La hauteur.*/
	margin-top : 3% ;
	margin-bottom : 2% ;
	float : left ;
	border-radius : 25px ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
}
.cadreDroit {
	width : 37% ;  /* La largeur. */
	height : 80% ;  /*La hauteur.*/
	margin-top : 3% ;
	margin-bottom : 2% ;
	margin-left : 48% ;
	border-radius : 25px ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
}

#cadredate {
    width: 25%; /* Largeur de la div */
    height: 20%; /* Hauteur de la div */
    background-color: white; /* Fond blanc */
    color: rgb(0, 0, 0); /* Texte en noir */
    font-family: Candara ; /* Police Candara */
	font-size: 1.4rem; 
    border: 1px solid rgba(0, 0, 0, 0.473); /* Contour noir */
    border-radius: 30px; /* Coins arrondis */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Légère ombre portée */
    position: absolute; /* Positionnement absolu */
    top: 10%; /* Écart de 4% du haut de l'écran */
    right: 17%; /* Écart de 12% de la bordure droite */
    padding: 10px; /* Espacement interne */
	padding-top: 45px;
    box-sizing: border-box; /* Prendre en compte les bordures dans la largeur et la hauteur */
	display: flex; /* Utilisation de Flexbox pour centrer le contenu */
    justify-content: center; /* Centre horizontalement */
	text-align : center ;
}

/*-------------------------------------------------- PAGE PARCOURS SCOLAIRE ----------------------------------------*/
#timeline {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	margin: 50px 0;
	margin-left: 13%;
	margin-bottom: 3%;
}
.milestone {
	text-align: center;
	position: relative;
	flex: 1;
}
.milestone:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 100%;
	height: 2px;
	background: #000000;
	transform: translateY(-50%);
}
.circle {
	width: 40px;
	height: 40px;
	background: hsl(344, 100%, 58%);
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	display: flex; /* Pour centrer avec Flexbox */
	align-items: center; /* Centrage vertical */
	justify-content: center; /* Centrage horizontal */
	color: white; /* Couleur du texte */
	font-size: 14px;
	font-weight: bold;
}
.milestone p {
	margin-top: 10px;
	font-size: 14px;
}
.year {
	font-weight: bold;
	margin-top: 10px;
}
.rectangleHautWhoAmI {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
}
#parcoursRectangleHaut {
	color : #ffffff ; 
	background-color : #f81946 ; /* Couleur du fond du cercle. */
	border-radius : 25px ;
}
#parcoursRectangleHaut:hover {
	background-color : #000000 ; /* Couleur du fond du cercle. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
	border-radius : 25px ;
}
#parcoursCadreGauche {
	color : #ffffff ; 
	height : 110%;
	background-color : #e13154 ; /* Couleur du fond du cercle. */
}
#parcoursCadreGauche:hover {
	background-color : #000000 ; /* Couleur du fond du cercle. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
#parcoursCadreDroit {
	color : #ffffff ;
	height : 110%;
	background-color : #ee5674 ; /* Couleur du fond du cercle. */
}
#parcoursCadreDroit:hover {
	background-color : #000000 ; /* Couleur du fond du cercle. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
#carreGaucheCompetences {
	background-color : #b6364f ;
	color : #ffffff ; /* Couleur du texte. */
	width : 20% ;  /* La largeur. */
	height : 35% ; /*La hauteur.*/
	margin-top : 5% ;
	margin-left : 6% ;
	margin-bottom : 2% ;
	float : left ;
	border-radius : 25px ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 1% ;
	position : absolute ;
	text-align : left ;
}
#carreGaucheCompetences:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
#carreMilieuCompetences {
	background-color : #b6364f ;
	color : #ffffff ; /* Couleur du texte. */
	width : 20% ;  /* La largeur. */
	height : 35% ; /*La hauteur.*/
	margin-top : 5% ;
	margin-left : 36% ;
	margin-bottom : 2% ;
	float : left ;
	border-radius : 25px ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 1% ;
	position : absolute ;
	text-align : left ;
}
#carreMilieuCompetences:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
#carreDroiteCompetences {
	background-color : #b6364f ;
	color : #ffffff ; /* Couleur du texte. */
	width : 20% ;  /* La largeur. */
	height : 35% ;  /*La hauteur.*/
	margin-top : 5% ;
	margin-left : 66% ;
	margin-bottom : 2% ;
	float : right ;
	border-radius : 25px ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 1% ;
	position : absolute ;
	text-align : left ;
}
#carreDroiteCompetences:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
.partieSudCarrement {
	margin-top : 70% ;
	width : 100% ; /* Largeur de la partie haute de la page. */
	height : 50% ; /*La hauteur.*/
	top : 0 ;
}


.row-wrapper {
  display: flex;
  gap: 12%;
  margin-left: 10.5%;
  margin-top : 2% ;
}

/* Partie gauche avec les 6 cases */
.left-cases {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les cases */
}

/* Cases pour les images */
.left-cases > div {
    background-color: #fff;
    width: 250px; /* Largeur des cases */
    height: 180px; /* Hauteur des cases */
    margin-left: 17%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Conteneur principal pour centrer les éléments */
.containercertif {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    gap: 10%;
}

/* Spécification des images pour chaque case (à personnaliser) */
.case-certif1 {
    background-image: url('../image/pix.jpg');
}
.case-certif2 {
    background-image: url('../image/cisco.jpg');
}
.case-certif3 {
    background-image: url('../image/');
}
.case-certif4 {
    background-image: url('../image/ateliergpd.jpg');
}
.case-certif5 {
    background-image: url('../image/secnum.jpg');
}
.case-certif6 {
    background-image: url('../image/');
}

/* Partie droite avec les 6 cases larges */
.right-cases {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les cases */
}

/* Cases à droite plus larges */
.right-cases > div {
    background-color: #f63552; /* Fond pastel */
    width: 92%; /* Largeur des cases à droite */
    height: 160px; /* Hauteur des cases */
    border-radius: 15px; /* Coins arrondis */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: Candara ;
    font-size: 1.6rem;
    color: white;
    padding-top : 1% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 1% ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Texte dans chaque case de droite */
.right-case-certif1, .right-case-certif2, .right-case-certif3, 
.right-case-certif4, .right-case-certif5, .right-case-certif6 {
    background-color: rgba(0, 0, 0, 0.5); /* Ombre douce sur le texte */
}

.right-case-certif1 {
    background-image: url('path/to/your/image7.jpg');
    background-size: cover;
    background-position: center;
}

.right-case-certif2 {
    background-image: url('path/to/your/image8.jpg');
    background-size: cover;
    background-position: center;
}

.right-case-certif3 {
    background-image: url('path/to/your/image9.jpg');
    background-size: cover;
    background-position: center;
}

.right-case-certif4 {
    background-image: url('path/to/your/image10.jpg');
    background-size: cover;
    background-position: center;
}

.right-case-certif5 {
    background-image: url('path/to/your/image11.jpg');
    background-size: cover;
    background-position: center;
}

.right-case-certif6 {
    background-image: url('path/to/your/image12.jpg');
    background-size: cover;
    background-position: center;
}



.carreBasProjets {
	background-image : url(../image/fenetreConnexionIHM.jpg);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	
}
/*-------------------------------------------------- PAGE DE PRESENTATION DE MES PROJETS INFORMATIQUES -------------*/
#carreGaucheProj {
	background-color : #b69d70 ;
	color : #ffffff ; /* Couleur du texte. */
	width : 23% ;  /* La largeur. */
	height : 43% ; /*La hauteur.*/
	margin-top : 2% ;
	margin-left : 4% ;
	float : left ;
	border-radius : 25px ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 1% ;
	position : absolute ;
	text-align : left ;
}
#carreGaucheProj:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
#carreMilieuProj {
	background-color :  #b69d70 ;
	color : #ffffff ; /* Couleur du texte. */
	width : 23% ;  /* La largeur. */
	height : 43% ; /*La hauteur.*/
	margin-top : 2% ;
	margin-left : 36% ;
	float : left ;
	border-radius : 25px ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 1% ;
	position : absolute ;
	text-align : left ;
}
#carreMilieuProj:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
#carreDroitProj {
	background-color : #b69d70 ;
	color : #ffffff ; /* Couleur du texte. */
	width : 23% ;  /* La largeur. */
	height : 43% ;  /*La hauteur.*/
	margin-top : 2% ;
	margin-left : 68% ;
	float : right ;
	border-radius : 25px ;
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 3% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 3% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 1% ;
	position : absolute ;
	text-align : left ;
}
#carreDroitProj:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
/*-------------------------------------------------- Partie de la page de présentation des projets */
.hautPageProjetsInfo {
	width : 100% ;  /* La largeur. */
	height : 60% ; /*La hauteur.*/
	margin-top : 0% ;
}
.partieMilieuProj {
	width : 100% ; /* Largeur de la partie haute de la page. */
	height : 60% ; /*La hauteur.*/
	margin-top : 12%;
}
.partieBasseProj {
	width : 100% ; /* Largeur de la partie haute de la page. */
	height : 60% ; /*La hauteur.*/
}
/*-------------------------------------------------- Cadre pour mettre les captures d'écrans. */
.carreHautProjets {
	background-image : url(../image/extraitDeCodeIHM.jpg);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 27% ;  /* La largeur. */
	height : 27% ; /*La hauteur.*/
	margin-top : 19% ;
	margin-bottom : 2% ;
	margin-left : 5% ;
	background-color : #0b787e ; /* Couleur du fond du cercle. */
	color : #000000 ;
	float : left ;
	position : absolute ;
}
.carreBasProjets {
	background-image : url(../image/fenetreConnexionIHM.jpg);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 27% ;  /* La largeur. */
	height : 27% ;  /*La hauteur.*/
	margin-top : 38% ;
	margin-bottom : 2% ;
	margin-left : 5% ; 
	background-color : #1a7c80 ; /* Couleur du fond du cercle. */
	color : #000000 ;
	float : left ;
}
/*-------------------------------------------------- Texte en haut de page. */
.rectangleDroiteProjets {
	width : 50% ;  /* La largeur. */
	height : 70% ;  /*La hauteur.*/
	margin-top : 19% ;
	margin-right : 10% ;
	margin-bottom : 2% ;
	background-color : #b8987e ; /* Couleur du fond du cercle. */
	color : #ffffff ;
	float : right ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.6rem ;  /* Taille du texte. */
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	text-align : justify ;  /* Cela permet de mettre le titre au centre. */
	border-radius: 40px;
}
.rectangleDroiteProjets:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
.milieuPageProjetsInfo {
	width : 100% ;  /* La largeur. */
	height : 100% ; /*La hauteur.*/
	margin-top : 4% ;
	position : absolute ;
}
/*-------------------------------------------------- Images en milieu de page. */
.troisCarres {
	display : block ;
	width : 24% ;  /* La largeur. */
	height : 79% ; /*La hauteur.*/
	margin-left : 71% ;
	margin-top : 21% ;
	float : left ;
	position : absolute ;
}
.captureSiteM {
	background-image : url(../image/capturevelo.jpg);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 100% ;
	height : 45% ;
}
.captureSiteM:hover{
	background-image : url(../image/extraitCodeVelo.jpg);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 100% ;
	height : 45% ;
}
.captureSiteM2 {
	background-image : url(../image/espaceConnexion.jpg);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 100% ;
	height : 45% ;
	margin-top : 20% ;
}
.captureSiteM2:hover{
	background-image : url(../image/extraitPhpConnexion.jpg);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 100% ;
	height : 45% ;
}
.rectangleGaucheProjets {
	width : 55% ;  /* La largeur. */
	height : 75% ;  /*La hauteur.*/
	margin-top : 20% ;
	margin-left : 7% ; 
	margin-bottom : 2% ;
	background-color : #db8f8f ; /* Couleur du fond du cercle. */
	color : #ffffff ;
	float : left ;
	position : absolute ;
	border-radius : 40px ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.6rem ;  /* Taille du texte. */
	padding-top : 3% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	text-align : justify ;  /* Cela permet de mettre le titre au centre. */
}
.rectangleGaucheProjets:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
.basPageProjetsInfo {
	width : 100% ; /* La largeur. */
	height : 120% ; /*La hauteur.*/
	margin-top : 60% ;
	position : absolute ;
}
.rectangleBasProjets {
	width : 85% ;  /* La largeur. */
	height : 65% ;  /*La hauteur.*/
	margin-top : 21% ;
	margin-left : 7% ; 
	margin-bottom : 2% ;
	background-color : #d3b280 ; /* Couleur du fond du cercle. */
	color : #ffffff ;
	float : left ;
	border-radius : 40px ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.6rem ;  /* Taille du texte. */
	padding-top : 2% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	text-align : justify ;  /* Cela permet de mettre le titre au centre. */
}
.rectangleBasProjets:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
.quatreCarres {
	width : 83% ;  /* La largeur. */
	height : 25% ; /*La hauteur.*/
	margin-left : 7% ;
	margin-top : 58% ;
	position : absolute ;
}
.stageCaptures {
	background-image : url(../image/afficheStageFormations.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 25% ;  /* La largeur. */
	height : 85% ; /*La hauteur.*/
	position : absolute ;
}
.stageCaptures2 {
	background-image : url(../image/afficheStageRecrutement.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 25% ;  /* La largeur. */
	height : 85% ; /*La hauteur.*/
	margin-left : 26.7% ;
	position : absolute ;
}
.stageCaptures3 {
	background-image : url(../image/interfaceOctimeManager.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 25% ;  /* La largeur. */
	height : 85% ; /*La hauteur.*/
	margin-left : 53.3% ;
	position : absolute ;
}
.stageCaptures4 {
	background-image : url(../image/interfaceOctimeEmploye.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	width : 25% ;  /* La largeur. */
	height : 85% ; /*La hauteur.*/
	margin-left : 80% ;
	position : absolute ;
}
.rectangleTexteFormation {
	width : 75% ;  /* La largeur. */
	height : 60% ;  /*La hauteur.*/
	margin-top : 4% ;
	margin-left : 6% ; 
	margin-bottom : 2% ;
	background-color : #e97883 ; /* Couleur du fond du cercle. */
	color : #ffffff ;
	border-radius : 40px ;
	float : left ;
	position : absolute ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.6rem ;  /* Taille du texte. */
	padding-top : 3% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 3% ;
	text-align : justify ;  /* Cela permet de mettre le titre au centre. */
}
.rectangleTexteFormation:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border-color: #ffffff ;
}
.rectangleTexteHobby {
	width : 75% ;  /* La largeur. */
	height : 70% ;  /*La hauteur.*/
	margin-top : 2% ;
	margin-left : 6% ; 
	margin-bottom : 2% ;
	background-color : #78265f ; /* Couleur du fond du cercle. */
	border-radius : 40px ;
	color : #ffffff ;
	float : left ;
	position : absolute ;
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.6rem ;  /* Taille du texte. */
	padding-top : 3% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 3% ;
	text-align : justify ;  /* Cela permet de mettre le titre au centre. */
}
.rectangleTexteHobby:hover {
	background-color : #000000 ; /* Couleur du fond. */
	color : white ; /* Couleur du texte. */
	border : solid 2px ;
	border-color: #ffffff ;
}
/*-------------------------------------------------- Téléchargement de mon CV en pdf */
#pdf {
	background-image : url(../image/interfaceOctimeEmploye.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	padding: 20px;
	border: 1px solid #ddd;
	width: 80%;
	margin: 20px auto;
}
/*-------------------------------------------------- PDF CV ---------------------------------------*/
.cadreCV {
    text-align: center;
	margin-top : 7% ;
}

.imageDiv {
    width: 210mm;  /* Largeur A4 en mm */
    height: 297mm; /* Hauteur A4 en mm */
    margin: 0 auto;
    border: 0.5px solid #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnTelechargerPdf {
	height : 7%;
	width : 20% ;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
}

.btnTelechargerPdf:hover {
    background-color: #00000077;
}



/* Conteneur principal */
.container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Largeur du conteneur total */
    height: 100%; /* Hauteur de l'ensemble */
	margin-top : 19%;
	margin-left : 7%;
	position : absolute ;
}

/* Colonne de petites cases à gauche */
.left-column {
    width: 35%; /* Largeur des petites cases */
    display: flex;
    flex-direction: column;
    gap: 7%; /* Espace de 2% entre les rectangles */
    justify-content: space-between;
}

/* Les petites cases */
.small-rect {
    background-image : url(../image/bvnsio2jeux.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
    height: 60%; /* Hauteur de chaque case */
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
}
.small-rect2 {
    background-image : url(../image/codesio2jeux.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
    height: 60%; /* Hauteur de chaque case */
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
}
.small-rect3 {
    background-image : url(../image/encorecodesio2jeux.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
    height: 60%; /* Hauteur de chaque case */
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
}

/* Grand rectangle à droite */
.right-rectangle {
	margin-top : 7%;
    width: 50%; /* Largeur du grand rectangle */
    height: 65%; /* Hauteur totale de la case de droite */
	margin-right : 11%;
	color : white;
    background-color: rgb(89, 130, 143);
    border-radius: 40px; /* Coins arrondis à 40% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.4rem ;  /* Taille du texte. */
	padding-top : 3% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 3% ;
	text-align : justify ;  /* Cela permet de mettre le titre au centre. */
}
.right-rectangle:hover{
	background-color: #000000;
}

/* Fripouille */
/* Grand rectangle au centre */
.center-rectangle {
	margin-top : 2%;
	margin-left : 1%;
    width: 80%; /* Largeur du grand rectangle */
    height: 60%; /* Hauteur du grand rectangle */
    background-color: rgb(98, 148, 127);
	color: white;
    border-radius: 40px ; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
    margin-bottom: 2%; /* Espace entre le grand rectangle et les petites cases */
	/* Le texte : */
	font-family : Candara ;  /* Ceci est la police du texte. */
	font-size : 1.4rem ;  /* Taille du texte. */
	padding-top : 3% ;  /* Espace du haut entre le bord et le contenu. */
	padding-left : 2% ; /* Espace de gauche entre le bord et le contenu. */
	padding-right : 2% ; /* Espace de droite entre le bord et le contenu. */
	padding-bottom : 3% ;
	text-align : justify ;  /* Cela permet de mettre le titre au centre. */
}
.center-rectangle:hover{
	background-color: #000000;
}

/* Ligne des petits rectangles en dessous */
.bottom-row {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les rectangles */
    width: 85%; /* Prendre toute la largeur du conteneur */
	height : 30%;
	margin-top : 44%;
	position : absolute ;
}

/* Les petits rectangles */
.small-rect4 {
    background-image : url(../image/bvnfripouille.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
    height: 65%; /* Hauteur des petites cases */
    width: 30%; /* Largeur des petites cases (5 cases en ligne) avec les marges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
}
.small-rect5 {
    background-image : url(../image/ajoutfripouille.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	height: 65%; /* Hauteur des petites cases */
    width: 30%; /* Largeur des petites cases (5 cases en ligne) avec les marges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
	margin-left: 3%;
}
.small-rect6 {
    background-image : url(../image/codefri.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	height: 65%; /* Hauteur des petites cases */
    width: 30%; /* Largeur des petites cases (5 cases en ligne) avec les marges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
	margin-left: 3%;
}
.small-rect7 {
    background-image : url(../image/wshfripouille.png);
	background-position : center ; /* L'image de fond est centrer. */
	background-repeat : no-repeat ; /* L'image de fond n'a pas de répétitions. */
	background-size : cover ; /* L'image de fond recouvre toute la div. */
	height: 65%; /* Hauteur des petites cases */
    width: 30%; /* Largeur des petites cases (5 cases en ligne) avec les marges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
	margin-left: 3%;
}



/* Grille avec 3 colonnes et 4 lignes */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 colonnes de même largeur */
    grid-gap: 35px; /* Espace entre les cases */
    width: 80%; /* Largeur de la grille */
    height: 80%; /* Hauteur de la grille */
    padding: 20px;
	margin-top : 50% ;
	margin-left : 7% ;
}

/* Style des cases */
.grid > div {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre discrète */
}

/* 1ère case - Image verticale */
.case-1 {
    height: 200px;
    background-image: url('../image/huh.png');
    background-size: cover;
    background-position: center;
}

/* 2ème case - Image verticale */
.case-2 {
    height: 200px;
    background-image: url('../image/theeyes.jpg');
    background-size: cover;
    background-position: center;
}

/* 3ème case - Image verticale */
.case-3 {
    height: 200px;
    background-image: url('../image/thehair.png');
    background-size: cover;
    background-position: center;
}

/* 4ème case - Image horizontale */
.case-4 {
    height: 200px;
    background-image: url('../image/nig.png');
    background-size: cover;
    background-position: center;
}

/* 5ème case - Image horizontale */
.case-5 {
    height: 200px;
    background-image: url('../image/thewings.jpg');
    background-size: cover;
    background-position: center;
}

/* 6ème case - Image horizontale */
.case-6 {
    height: 200px;
    background-image: url('../image/ojos.jpg');
    background-size: cover;
    background-position: center;
}

/* 7ème case - Image horizontale */
.case-7 {
    height: 200px;
    background-image: url('../image/chance.jpg');
    background-size: cover;
    background-position: center;
}

/* 8ème case - Image horizontale */
.case-8 {
    height: 200px;
    background-image: url('../image/rabbit.png');
    background-size: cover;
    background-position: center;
}


